body{
   background:  #555;
}

.body{
    max-width: 80%;
    min-width: 550px;
    margin: auto;
    background: white;
    padding: 10px;
    text-align: center;
}


.body_intestation{
    margin: auto;
    margin-bottom: 3ex;
}

/***********  PARAMETER ZONE ********/

.body_Parameters{
    margin: auto;
    margin-bottom: 3ex;
}

.container_Parameters
{
    display: inline-block;
    margin: 0.5ex;
}

.caption{
    padding: 0.3ex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    display: inline;
}

.label{
    padding: 0.3ex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
    display: inline;
}


/***********  BUTTON ZONE ********/

.body_button{
    margin: auto;
    margin-bottom: 3ex;
}

.cointainer_button{
    display: inline;
}


.head_button{
    display: inline-block;
    border-radius: 8px;
    width: 20ex;
    border: 1px solid transparent;
    padding: 0.5ex;
    margin: 0.5ex;
}

.green_button{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.blue_button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.yellow_button{
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.red_button{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

}


/***********  SETTING ZONE ********/




.body_setting{
    display: block;
    margin: auto;
    padding: 10px;
}

.body_mqtt{
    display: block;
    margin: auto;
    padding: 10px;
}

#table_setting{
    margin: auto;
}


.setting_key {
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5ex;
}

.setting_size{
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 5ex;
    padding: 0.5ex;
    
}


.setting_value {
    border: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5ex;
    width: 40ex;
}

.setting_value:focus {
    touch-action: manipulation;
    
}

.value_changed 
{
    border-bottom: 2px solid rgb(110, 28, 28);
    font-weight: bold;
}

.setting_restore {    
    padding: 1px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 0;
    background-color: #fff;

}





/***********  PLUGIN ZONE ********/

.foot{
    margin: auto;    
}

.body_plugin{
    display: block;
    padding: 10ex;   
}

.container_plugin{
    display: block;
    margin: 2ex;
    margin-top: 5ex;
}

.plugin_name{
    margin: auto; 
    width: max-content;
    font-weight: bold;
}

.plugin_value{
    margin: auto; 
    width: max-content;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}


/***********  DEBUG ZONE ********/


#body_debug{
    margin-top: 12ex;
    display: block;
    margin: auto; 
    width: 70%;
}

.body_debug_bar{
    text-align: left;
}

.body_debug_top {  
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
  }

.body_debug_dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.body_debug_title{
    margin: 20px;
    font-family: monospace;
    font-size: 16px;
}

.body_debug{
    border-radius: 3px;
    background: #222;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#debug_container
{
    margin: 20px;
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    color: #22da26;
}

/***********  Progress **************************/

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
  
    width: 250px;
    height: 20px;
  }



/**************** LOADING RING *********************/


.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  